<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="/home.css">
</head>

<body>

    <div class="navbar">
        <ul class="menu-items">
            <li class="items"><a href='/user'>Home</a></li>
            <li class="items"><a href='/viewuser'>View Users</a></li>
            <li class="items"><a href='/addbook'>Add Book</a></li>
            <li class="items"><a href='/viewbook'>View Books</a></li>
            <li class="items"><a href='/userlog'>User Log</a></li>
            <li class="items"><a href='/issue'>Issue Books</a></li>
            <li class="items"><a href='/logout'>Logout</a></li>
        </ul>
    </div>
    <h1>Welcome <%=title%> to Admin Portal</h1>


</body>

</html>