<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" type="text/css"   href="/home.css">
</head>
<body>
    <div class="navbar">
        <ul class="menu-items">
            <li class="items"><a href='/'>Home</a></li>
            <li class="items"><a href='/login_u'>Login as User</a></li>
            <li class="items"><a href='/login_a'>Login as Admin</a></li>
            <li class="items"><a href='/register'>Register</a></li>
        </ul>
    </div>

    <br>

    <h2>Login as user</h2>

    <br>

    <div>
        <form action="/login_u" method="POST">
            <label> Enter email <br>
                <input name="email" type="text" placeholder="Enter email" required>
            </label><br><br><br>
            <label> Enter password <br>
                <input name="pwd" type="password" placeholder="Enter password" required>
            </label><br><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>