<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" type="text/css"   href="/home.css">
</head>

<body>
    <div class="navbar">
        <ul class="menu-items">
            <li class="items"><a href='/user'>Home</a></li>
            <li class="items"><a href='/booklist'>Booklist</a></li>
            <li class="items"><a href='/history'>User History</a></li>
            <li class="items"><a href='/return'>Return Books</a></li>
            <li class="items"><a href='/logout'>Logout</a></li>
        </ul>
    </div>

    <h1>Welcome <%=title%> to User portal</h1>
</body>

</html>